@media (min-width:320px){
  .contact-right {
    display:none;
  }

  .facebook-phone {
    display:none;
  }

  .contact-frame {
      width: 100%;
      display: inline-block;
      padding-left: 10px;
  }

  .contact-welcome {
    font-family: "Orbitron", sans-serif;
    text-align: center;
  }
}

@media (min-width:600px){
  .contact-right {
      width: 45%;
      background-color: #54aca5;
      position: relative;
      display: inline-block;
      /*margin-right: 20px;
      padding: 20px;*/
  }

  .facebook-phone {
    display:block;
  }

  .contact-frame {
      width: 100%;
      display: inline-block;
  }

  .contact-welcome {
    font-family: "Orbitron", sans-serif;
    text-align: left;
  }
}

.contact-left {
    width: 45%;
    padding-left: 10px;
}

#messageArea, #subject, #name, #email, #phone {
    width: 200%;
    margin-left: 20px;
}

.submit {
    margin-left: 20px;
}

.contact-right h3 {
    font-family: 'Orbitron', sans-serif;
}
