<!DOCTYPE html>
<html lang="en" ng-app="bamApp">
<head>
    <meta charset="UTF-8">
    <title>BAM Automotive</title>
    <link rel="stylesheet" href="/vendors/bootstrap/dist/css/bootstrap.min.css"/>
    <!-- <link rel="stylesheet" href="/vendors/bootstrap/dist/css/bootstrap.min.css.map"/> -->
    <link rel="stylesheet" href="/styles/admin.css"/>
    <link href='https://fonts.googleapis.com/css?family=Exo+2:600|Orbitron:700|Vollkorn' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body>

  <h2>Username/Password Error</h2>
  <p>The username and passworld combination you entered is incorrect. Please try entering your username and password again.</p>

  <script type="text/javascript" src="/vendors/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="/vendors/bootstrap/js/modal.js"></script>
  <script type="text/javascript" src="/vendors/jquery-smooth-scroll/jquery.smooth-scroll.min.js"></script>
  <script type="text/javascript" src="/assets/admin.js"></script>

  </body>
  </html>
