<section class="container home">
    <div class="home-box">
        <div class="home-picture-box col-md-offset-1 col-md-5 col-xs-5">
            <div class="picture-area">
                <img src="/images/alteredlogo.png" alt="bam logo" class="bam-logo">
            </div>
        </div>
        <div class="home-text col-md-5 col-md-offset-1 col-xs-offset-1 col-xs-6">
            <div class="paragraph-box">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in metus ex. Aliquam sed dolor lacus. Vestibulum sodales convallis nisl cursus viverra. Cras eleifend ex ultricies sem blandit ultrices. Duis ut pharetra purus, sodales blandit libero. Vestibulum ac purus eget neque convallis dignissim et id ante. Fusce nec metus mi. Sed odio ex, sollicitudin eu ornare ultricies, imperdiet laoreet metus. Duis eu justo ac dolor vulputate tempus non a lacus. Vivamus feugiat dictum sollicitudin.</p>

            <p>Pellentesque eu ante aliquam, ornare lacus non, lobortis odio. Nam nibh orci, imperdiet commodo dui id, tincidunt eleifend ante. Sed nisi justo, dictum quis est vitae, fermentum tristique metus. Sed vel euismod nunc. Suspendisse dictum, purus malesuada pulvinar dictum, tellus tortor pretium justo, a accumsan nisi velit non lectus. Vestibulum justo dolor, dignissim sit amet ante ut, efficitur maximus tellus. Cras vitae ligula sit amet lectus pharetra semper eget vitae ligula. Nullam ante massa, egestas a volutpat a, tempor facilisis lectus.</p>
            </div>
        </div>
    </div>

    <div class="navigation">
        <ul class="navigation-list">
            <li class="home col-md-offset-1 col-md-2"><a href="#home">Home</a></li>
            <li class="about col-md-2"><a href="#about">About Us</a></li>
            <li class="find col-md-2"><a href="#find">Find Us</a></li>
            <li class="contact col-md-2"><a href="#contact">Contact Us</a></li>
            <li class="review col-md-2"><a href="#review">Reviews</a></li>
        </ul>
    </div>
</section>